<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="container">

        <div class="card" style="max-width:400px; margin:auto; margin-top:100px;">

            <h1>EMS Login</h1>

            <form th:action="@{/adminLogin}" method="post">

                <label>Username</label>
                <input type="text" name="username" required>

                <label>Password</label>
                <input type="password" name="password" required>

                <button type="submit">Login</button>

            </form>

            <br>

            <p th:text="${error}" style="color:red;"></p>

        </div>

    </div>

</body>
</html>